<h3>{{userData.firstName}} {{userData.lastName}} Account Details</h3>
<section id="user-details-admin">
    <p>First Name: {{userData.firstName}}</p>
    <p>Last Name: {{userData.lastName}}</p>
    <p>Email Address: {{userData.email}}</p>
</section>

{{#if userInvestments}}
<table id="table-container">
    <thead>
        <tr>
            <th>Investment ID</th>
            <th>Investment Amount</th>
        </tr>
    </thead>
    <tbody>
        {{#each userInvestments}}
        <tr>
            <td>{{this.id}}</td>
            <td>${{formatNumber this.investmentAmount}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p id="no-investment-history-admin">There is no investment history for {{userData.firstName}} {{userData.lastName}}.</p>
{{/if}}